<article>

  <div class="hero">
    <div class="hero-inner">
      <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
  " alt="Logo Image"></a>
      <div class="hero-copy">
        <h1>Dr. Michael Hopper</h1>
        <p class="date">30 Mar 2014</p>
        <p>I am a Christian, musician, photographer, software developer, and
           a very blessed husband and father. I love to learn and grow in all
           aspects of life. Most of all I love sharing my life with my wife,
           family, and friends. There is so much to do!
        </p>
      </div>
      <button>Learn More</button>
      <a href="javascript:void(0)" class="read-more">Read More <span>&rsaquo;</span></a>
    </div>
  </div>



</article>
