<div class="work">

  <div class="line-behind-text">
    <h6 class="er_toc_tag">Work</h6>
  </div>

  <section>
    <aside><h3>Introduction</h3></aside>
    <article>
      <p>I'm a software architect, lead developer, and educator specializing
         in Enterprise level software design and development. I enjoy working
         on the full stack - everything from database design, server
         development, performance optimizations, scaling, client development,
         and library, API, and tooling development. I have over 24 years of
         experience in software design and development and have a Ph.D. in
         Electrical and Computer Engineering from the
         <a href="http://www.gatech.edu">Georgia Institute of Technology</a>.
         I enjoy mentoring other developers and I'm currently an instructor at
         <a href="https://generalassemb.ly">General Assembly</a>.
      </p>
    </article>
  </section>

  <div class="line-behind-text">
    <h6 class="er_toc_tag">Technologies</h6>
  </div>

  <section>
    <aside><h3>Languages</h3></aside>
    <article>
      <ul>
        <li>JavaScript</li>
        <li>Ruby</li>
        <li>Java</li>
        <li>C and C++</li>
        <li>HTML, CSS, SASS</li>
        <li>BASH</li>
      </ul>
    </article>
  </section>

  <section>
    <aside><h3>Frameworks</h3></aside>
    <article>
      <ul>
        <li>AngularJS</li>
        <li>Rails</li>
        <li>Spring</li>
      </ul>
    </article>
  </section>

  <section>
    <aside><h3>Databases</h3></aside>
    <article>
      <ul>
        <li>Oracle</li>
        <li>MySQL</li>
        <li>PostgreSQL</li>
        <li>MongoDB</li>
        <li>Cassandra</li>
        <li>Operating Systems: Mac OSX</li>
        <li>Linux</li>
        <li>Windows</li>
      </ul>
    </article>
  </section>

  <section class="refill">
    <div class="refills-wrapper">
      <div class="line-behind-text">
        <h6 class="er_toc_tag">Skills</h6>
      </div>
      <div class="refill-centering">
        <div class="refill-smaller">
          <div class="comment">
            <div class="comment-image">
              <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
            </div>
            <div class="comment-content">
              <h1>Java</h1>
              <p>Java is Enterprise Ready!</p>
              <p class="comment-detail">Java is optimized for scalability.</p>
            </div>
          </div>
          <div class="comment">
            <div class="comment-image">
              <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="Logo image">
            </div>
            <div class="comment-content">
              <h1>Ruby on Rails</h1>
              <p>Ruby is awesome.</p>
              <p class="comment-detail">Ruby is optimized for rapid development.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
